<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
      <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
      <appendLineSeparator>true</appendLineSeparator>
    </layout>

    <springProfile name="prettylogs">
      <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
          <prettyPrint>true</prettyPrint>
        </jsonFormatter>
        <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
        <appendLineSeparator>true</appendLineSeparator>
      </layout>
    </springProfile>
  </appender>

  <logger name="jsonLogger" level="INFO">
    <appender-ref ref="json"/>
  </logger>

  <root level="info">
    <appender-ref ref="json"/>
  </root>
</configuration>